* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: aliceblue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  color: red;
}

/* Custom additions to bootstrap classes */
.shadow-sm,
.shadow-lg {
  background-color: #fff;
}

.col-padding {
  padding: 5px !important;
}
/* Custom additions to bootstrap classes */

.header-bar {
  background-color: #a9a9a933;
  padding: 5px 20px;
  height: 40px;
  width: 98%;
  border-radius: 10px;
  margin: 0 auto;
}

.header-bar h4 {
  font-size: 18px;
  font-weight: 100;
  text-transform: uppercase;
  margin: auto 0;
}

.card-wrapper,
.card img {
  border-radius: 10px;
  height: 200px;
}

/* .card img {
  object-fit: contain;
} */

/* Corousel section */
.row-1 {
  width: 100%;
}
.corousel-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: beige;
  padding: 20px 30px;
}

.corousel-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.corousel-text h5 {
  font: 12px;
  color: gray;
  font-weight: 100;
}

.corousel-btn {
  margin-top: 30px;
  text-transform: uppercase;
  padding: 10px 20px;
}

.btn-gray {
  background-color: darkgray;
}

.btn-gray:hover {
  background-color: gray;
}

/* Corousel section */

/* Services section */
.service-card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 5px !important;
}
.service-card-wrapper {
  background-color: beige;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.service-card-wrapper h6 {
  margin-top: 5px;
  text-transform: capitalize;
}

.service-card-img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.service-card-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
/* Services section */

/* Categories section */
.card-wrapper {
  position: relative;
  cursor: pointer;
}

.card-overlay {
  background-color: black;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  opacity: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  transition: opacity 0.3s ease-in-out;
}

.card-overlay-display {
  opacity: 0.7;
}

.card-overlay p {
  color: beige;
  font-size: 16px;
  text-transform: capitalize;
  margin: 0;
  margin-bottom: 10px;
}

.card-overlay button {
  background-color: red;
  color: #fff;
  border: 1px solid gray;
  font-weight: 400;
  font-size: 18px;
  padding: 5px 20px;
  border-radius: 10px;
}
.category-icons {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.category-icon {
  width: 30px;
  height: 30px;
  color: #fff;
}
/* Categories section */

/* Shop Section */
.shop-sidebar {
  padding: 10px;
}

.shop-sidebar ul {
  list-style: none;
  padding: 0;
}

.shop-sidebar ul li {
  background-color: beige;
  margin: 5px 0;
  padding: 5px 0;
  border-radius: 10px;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  transition: 0.7s all ease-in-out;
  cursor: pointer;
}

.shop-sidebar ul li:hover {
  background-color: #000;
  color: #fff;
}

.shop-card {
  padding: 20px;
  border-radius: 10px;
}

.shop-card-img {
  width: 100%;
  height: 150px;
  object-fit: contain;
  margin-bottom: 10px;
}

.shop-card-text {
  font-size: 12px;
  color: gray;
  padding: 1px;
  margin: 0;
}

.shop-card-price {
  margin: 0;
  padding: 3px;
  font-size: 14px;
}

.shop-btn-cont {
  display: flex;
  width: 100%;
}

.shop-btn-cont .shop-btn {
  flex: 1;
  background-color: beige;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  border-radius: 10px;
  margin: 5px 10px;
  padding: 5px 0;
  transition: 0.7s all ease-in-out;
  cursor: pointer;
}

.shop-btn-cont .shop-btn:hover {
  background-color: #000;
  color: #fff;
}

/* Shop Section */

/* Product page */
.float-right {
  text-align: end;
  margin: 10px;
  font-size: 16px;
}
.product-view-cont {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 20px;
}

.product-view-left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.product-view-left .product-img {
  max-width: 350px;
  height: 250px;
  object-fit: contain;
  cursor: pointer;
}
.product-view-right {
  flex: 2;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.product-view-right .h5 {
  margin: 5px 0;
  font: 16px;
  text-transform: uppercase;
}

.product-view-right .h6 {
  margin: 3px 0;
  padding: 0;
  font-size: 14px;
}

.product-view-right .product-text {
  padding: 1px;
  margin: 3px;
  font-size: 14px;
  color: gray;
}

.product-view-right .product-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}

.product-btns .product-input {
  display: flex;
  align-items: center;
}

.product-btns .product-input label {
  margin-right: 20px;
  text-transform: uppercase;
  font-size: 15px;
}

.product-btns .product-input input {
  padding: 5px 1px;
  border: 1px solid gray;
  border-radius: 10px;
}

.product-btns .product-input input:focus {
  outline-color: red;
}

.product-btns .product-btn {
  padding: 5px 20px;
  width: 250px;
  background-color: #000;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  border: 1px solid gray;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.7s all ease-in-out;
}

.product-btns .product-btn:hover {
  background-color: red;
  color: #000;
}
/* Product page */

/* Cart */
.cart-header {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-header h3 {
  padding: 5px 0 5px 10px;
  color: #000;
  font-size: 16px;
}
.clear-cart {
  color: #f80707;
  cursor: pointer;
  padding: 5px 10px 5px 0;
  font-size: 16px;
}
.cart-item-cont {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  padding: 10px;
}

.cart-item {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 10px;
}

.cart-img {
  width: 100px;
  height: 80px;
  margin-right: 20px;
}

.cart-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.cart-item h3 {
  font-size: 16px;
  color: #000;
}

.cart-item h4 {
  color: #000;
  font-size: 14px;
  position: absolute;
  right: 30px;
}

.cart-flex {
  display: flex;
  position: relative;
}

.cart-flex .cart-left {
  position: absolute;
  left: 30px;
  bottom: 0;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.delete-btn {
  color: #e94560;
  margin: 5px 0;
  font-size: 5px !important;
}

.delete-text {
  color: #e94560;
  font-size: 14px;
  margin: 5px 0;
}

.cart-flex .cart-right {
  position: absolute;
  right: 30px;
  bottom: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.qty-btn {
  background-color: #000;
  color: #fff;
  margin: 5px 10px;
  border-radius: 3px;
}

.qty {
  color: #000;
  font-size: 16px;
  margin: auto 0;
}

.summary-section {
  max-height: 60vh;
  background-color: #fff;
  margin-top: 0;
}

.rec-header {
  color: #000;
  font-size: 16px;
  padding: 10px 0 10px 10px;
}

.cart-btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cart-btn {
  border: 1px solid gray;
  border-radius: 5px;
  color: #fff;
  padding: 10px 0;
  background-color: black;
  width: 80%;
  text-transform: uppercase;
  margin: 0 auto;
  transition: 0.7s all ease-in-out;
}

.btn-red {
  background-color: red;
}

.btn-black:hover {
  background-color: red;
  color: #000;
}

.btn-red:hover {
  background-color: #000;
}

/* Cart */

* Account */ .acc-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.acc-flex p {
  color: #000;
  font-size: 14px;
  margin: 5px 0 2px 0;
}

.account-btn {
  background-color: var(--faded-blue);
  color: #fff;
  text-transform: uppercase;
  margin: 0 auto;
  padding: 10px;
  width: 100%;
  border: 1px solid var(--color-border);
  border-radius: 10px;
}

.account-btn-red {
  background-color: red;
  color: #fff;
}

.acc-link-btn {
  width: 60%;
}

.account-flex {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #fff;
}

.account-flex label {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  padding: 5px 0;
}

.account-flex input {
  border: 1px solid var(--color-border);
  border-radius: 5px;
  padding: 10px;
  color: #000000c5;
  background-color: #fff;
  /* font-weight: 600; */
}

.account-flex input:focus {
  outline: none;
}

.checkbox-cont {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.checkbox-cont label {
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 400;
}

.checkbox {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

.redirect-p {
  color: navy;
  font-size: 12px;
  margin: 0 auto;
  margin-top: 3px;
}

.redirect-link {
  color: navy;
  text-decoration: underline;
}

.redirect-link:hover {
  color: navy;
}

.account-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
}
/* Account */

/* Checkout page */
.user-info-wrapper {
  padding: 20px;
  max-height: 400px;
}

.user-info-wrapper h4 {
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
}

.customer-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.userinfo-cont {
  display: flex;
  margin: 5px;
}

.user-title {
  display: flex;
  flex-direction: column;
}

.user-title .h5,
.user-title .h6 {
  font-size: 16px;
  padding-bottom: 3px;
  margin: 0;
}

.info-icon {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 50%;
  background: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.order-info-cont {
  padding: 20px;
}

.order-info-cont .h4 {
  font-size: 18px;
  text-transform: uppercase;
  margin-top: 0;
  text-align: center;
}
.order-info {
  display: flex;
}

.order-img img {
  width: 100px;
  height: 80px;
  /* object-fit: contain; */
  margin-right: 30px;
}

.order-title p {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.order-title .h6 {
  font-size: 16px;
  margin: 0;
}

.order-totals .h6 {
  margin-left: 30px;
}

.order-sum {
  display: flex;
  flex-wrap: wrap;
}

.table {
  width: 230px;
  margin-right: 20px;
}

.order-sum-right {
  display: flex;
  flex-direction: column;
}

.pay-btn {
  width: 300px;
  padding: 10px 0;
  border: 1px solid gray;
  background-color: #000;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  text-transform: uppercase;
}

.pay-input {
  width: 300px;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 10px;
  margin: 10px 0;
}

.pay-input:focus {
  outline-color: red;
}
/* Checkout page */
